@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Jura', sans-serif;
	overflow-x: hidden;
}

h1 {
	font-weight: 700;
	font-size: 2.3rem;
}

h2 {
	font-weight: 500;
	font-size: 1.8rem;
}

p {
	font-weight: 300;
	font-size: 1.2rem;
}

#companies1 > h2,
#companies2 > h2,
#companies3 > h2 {
	margin: 0 1rem 0 1rem;
}

.toggleBorder {
	border: solid 1px #ea2e6e;
}

.my-children > *:not(:first-child) {
	margin-top: 1em;
}

.ml-children > *:not(:first-child) {
	margin-left: 0.5em;
}

@keyframes colorAnim {
	0% {
		text-shadow: greenyellow -1px 1.25px 1px;
		filter: blur(0.5px);
	}
	20% {
		text-shadow: cyan 1.25px -1.5px 1px;
		filter: blur(0.5px);
	}
	80% {
		text-shadow: red 1px 1.75px 1px;
		filter: blur(0.5px);
	}
	100% {
		text-shadow: yellow -1.25px 1.25px 1px;
		filter: blur(0.5px);
	}
}
