@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply origin-bottom aspect-[1/1.75] absolute h-[40%] border-transparent border-8 rounded-xl;
  }
}

:root {
  font-size: 1rem;
  font-size: clamp(1rem, 0.9642857142857143rem + 0.17857142857142858vw, 1.25rem);
}

html {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

*:focus-visible {
  outline-offset: 5px;
}

body {
  font-family: 'Jura', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 2.3rem;
}

h2 {
  font-weight: 500;
  font-size: 1.8rem;
}

p {
  font-weight: 300;
  font-size: 1.2rem;
}

#marquee1 > p,
#marquee2 > p,
#marquee3 > p {
  margin: 0 1rem 0 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}

svg {
  margin: -1px;
}

.toggleBorder {
  outline: solid 1px #ea2e6e;
}

.my-children > *:not(:first-child) {
  margin-top: 1em;
}

.ml-children > *:not(:first-child) {
  margin-left: 1em;
}

#hamburger {
  &:before {
    width: 100%;
    height: 6px;
    background-color: orange;
    top: 0;
    position: absolute;
    content: '';
  }

  &:after {
    width: 100%;
    height: 6px;
    background-color: yellow;
    bottom: 0;
    position: absolute;
    content: '';
  }
}

#sun-shadow1 {
  box-shadow: 15px 0 0 0 #e3b566, -15px 0 0 0 #e3b566;
}

#sun-shadow2 {
  box-shadow: 15px 0 0 0 #e3b566, -15px 0 0 0 #e3b566;
  transform: rotate(90deg);
}

#sun-shadow3 {
  box-shadow: 15px 0 0 0 #d4a149, -15px 0 0 0 #d4a149;
  transform: rotate(45deg);
}

#sun-shadow4 {
  box-shadow: 15px 0 0 0 #d4a149, -15px 0 0 0 #d4a149;
  transform: rotate(-45deg);
}

@keyframes colorAnim {
  0% {
    text-shadow: greenyellow -1px 1.25px 1px;
    filter: blur(0.5px);
  }

  20% {
    text-shadow: cyan 1.25px -1.5px 1px;
    filter: blur(0.5px);
  }

  80% {
    text-shadow: red 1px 1.75px 1px;
    filter: blur(0.5px);
  }

  100% {
    text-shadow: yellow -1.25px 1.25px 1px;
    filter: blur(0.5px);
  }
}

.gradientBG {
  animation: gradientAnim 5s linear infinite;
  background: linear-gradient(90deg, #d38123 10%, #72a743 20%, #3eba54 40%, #d38123 50%, #d38123 60%, #72a743 70%, #3eba54 90%, #d38123 100%);
  background-size: 200%;
  background-repeat: no-repeat;
  background-clip: text;
}

@keyframes gradientAnim {
  from {
    background-position: 0% center;
  }

  to {
    background-position: 100% center;
  }
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
