@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Jura', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 2.3rem;
}

h2 {
  font-weight: 500;
  font-size: 1.8rem;
}

p {
  font-weight: 300;
  font-size: 1.2rem;
}

$bg-gradient: linear-gradient(180deg,
  rgba(0, 0, 0, 0.7) 0%,
  rgba(0, 0, 0, 0.7) 25%,
  rgba(0, 0, 0, 0.7) 75%,
  rgba(0, 0, 0, 0.7) 100%);

.bg_slide1 {
  background-image: $bg-gradient,
    url("https://cdn.pixabay.com/photo/2022/06/15/18/38/castle-7264439_960_720.jpg");
}

.bg_slide2 {
  background-image: $bg-gradient,
    url("https://cdn.pixabay.com/photo/2022/06/18/04/32/poppies-7269126_960_720.jpg");
}

.bg_slide3 {
  background-image: $bg-gradient,
    url("https://cdn.pixabay.com/photo/2019/10/18/05/04/tent-4558240_960_720.jpg");
}

#companies1>h2,
#companies2>h2,
#companies3>h2 {
  margin: 0 1rem 0 1rem;
}

.toggleBorder {
  outline: solid 1px #ea2e6e;
}

.my-children>*:not(:first-child) {
  margin-top: 1em;
}

.ml-children>*:not(:first-child) {
  margin-left: 1em;
}

#hamburger {
  &:before {
    width: 100%;
    height: 6px;
    background-color: orange;
    top: 0;
    position: absolute;
    content: '';
  }
  
  &:after {
    width: 100%;
    height: 6px;
    background-color: yellow;
    bottom: 0;
    position: absolute;
    content: '';
  }
}

#sun-shadow1 {
  box-shadow:
    15px 0 0 0 #e3b566,
    -15px 0 0 0 #e3b566;
}

#sun-shadow2 {
  box-shadow:
    15px 0 0 0 #e3b566,
    -15px 0 0 0 #e3b566;
  transform: rotate(90deg);
}

#sun-shadow3 {
  box-shadow:
    15px 0 0 0 #d4a149,
    -15px 0 0 0 #d4a149;
  transform: rotate(45deg);
}

#sun-shadow4 {
  box-shadow:
    15px 0 0 0 #d4a149,
    -15px 0 0 0 #d4a149;
  transform: rotate(-45deg);
}

@keyframes colorAnim {
  0% {
    text-shadow: greenyellow -1px 1.25px 1px;
    filter: blur(0.5px);
  }
  
  20% {
    text-shadow: cyan 1.25px -1.5px 1px;
    filter: blur(0.5px);
  }
  
  80% {
    text-shadow: red 1px 1.75px 1px;
    filter: blur(0.5px);
  }
  
  100% {
    text-shadow: yellow -1.25px 1.25px 1px;
    filter: blur(0.5px);
  }
}